attrs==20.3.0
Automat==20.2.0
beautifulsoup4==4.9.3
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
constantly==15.1.0
cryptography==3.4.6
cssselect==1.1.0
dnspython==2.1.0
hyperlink==21.0.0
idna==2.10
incremental==17.5.0
itemadapter==0.2.0
itemloaders==1.0.4
jmespath==0.10.0
lxml==4.6.5
parsel==1.6.0
Protego==0.1.16
proxyscrape==0.3.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyDispatcher==2.0.5
pymongo==3.11.3
pyOpenSSL==20.0.1
queuelib==1.5.0
requests==2.25.1
Scrapy==2.4.1
scrapy-proxy-pool==0.1.9
scrapy-user-agents==0.1.1
service-identity==18.1.0
six==1.15.0
soupsieve==2.2
Twisted==21.2.0
twisted-iocpsupport==1.0.1
ua-parser==0.10.0
urllib3==1.26.3
user-agents==2.2.0
w3lib==1.22.0
zope.interface==5.2.0
